@{
  Layout = "_Layout";
}

<h1>Welcome Dr. Sillystringz</h1>
<h4>@Html.ActionLink("View all treats", "Index", "Treats")</h4>
<h4>@Html.ActionLink("View all flavors", "Index", "Flavors")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>
<h4>@Html.ActionLink("Create an account", "Index", "Account")</h4>